.mainBlock {
display: flex;
padding-left: 180px;

}
body {
  font-family: 'Poppins', sans-serif; 
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  font-size: 1.5rem;
  background: linear-gradient(#f9b28f, #f17280, #c06c86, #6d5c80,#325c7f);

  
}
.searchBlock{
  display: flex;
  align-items: center;
  justify-content: center;
}
.pngBook{
display: flex;

}