.detailsBookValue{
    position:absolute;
    z-index: 999;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: rgb(44, 45, 45);
    border-radius: 20px;
    border: 0px;
    display: flex;
    flex-direction: row;
}
.detailsInfoBookValue{
    display: flex;
    flex-direction: column;
}
.detailsBookTitle{
    align-self: center;
    font-size: 35px;
    font-weight: bold;
}
.detailsBookTextSnippet,.detailsBookLanguage,.detailsBookPublishedDate,.detailsBookAuthors,.detailsBookCategories{
    display: flex;
    flex-direction: row;
}
.detailsText,.detailsInfo{
    display: flex;
    flex-direction: row;
    padding: 5px;
}

.detailsText{
    width: 210px;
}
.detailsInfo{
    width: 1000px;
}

.detailsImgBook{
    padding: 10px;
    width: 500px;
    height: 700px;
}

.imageLinks{
    width: 500px;
    height: 700px;
}
textarea{
    font-size: 0.8rem;
    letter-spacing: 1px;
    padding: 10px;
    max-width: 100%;
    line-height: 1.5;
    border-radius: 5px;
    border: 1px solid #ccc;
    box-shadow: 1px 1px 1px #999;
    background-color: rgb(44, 45, 45);
    color: white;
}